In [1]:
import numpy as np
import pandas as pd
data=r"C:\Users\DELL\OneDrive\Documents\Documents\Project\project 2\healthcare-dataset-stroke-data.csv"
df=pd.read_csv(data)
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [2]:
df.replace('N/A',np.nan,inplace=True)
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [4]:
# Calculate frequency for each category in categorical columns
for col in ['work_type', 'Residence_type', 'smoking_status']:
    freq_encoding = df[col].value_counts() / len(df)
    df[col + '_freq'] = df[col].map(freq_encoding)

# Drop original categorical columns
df.drop(columns=['work_type', 'Residence_type', 'smoking_status'], inplace=True)

In [5]:
df

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,work_type_freq,Residence_type_freq,smoking_status_freq
0,9046,Male,67.0,0,1,Yes,228.69,36.6,1,0.572407,0.508023,0.173190
1,51676,Female,61.0,0,0,Yes,202.21,NaN,1,0.160274,0.491977,0.370254
2,31112,Male,80.0,0,1,Yes,105.92,32.5,1,0.572407,0.491977,0.370254
3,60182,Female,49.0,0,0,Yes,171.23,34.4,1,0.572407,0.508023,0.154403
4,1665,Female,79.0,1,0,Yes,174.12,24.0,1,0.160274,0.491977,0.370254
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,83.75,NaN,0,0.572407,0.508023,0.370254
5106,44873,Female,81.0,0,0,Yes,125.20,40.0,0,0.160274,0.508023,0.370254
5107,19723,Female,35.0,0,0,Yes,82.99,30.6,0,0.160274,0.491977,0.370254
5108,37544,Male,51.0,0,0,Yes,166.29,25.6,0,0.572407,0.491977,0.173190
5109,44679,Female,44.0,0,0,Yes,85.28,26.2,0,0.128571,0.508023,0.302153

In [6]:
# Define columns to impute
numerical_cols = ['age', 'avg_glucose_level', 'bmi']
categorical_cols = ['gender','ever_married']

# Impute numerical columns with median and categorical columns with mode
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = imputer.fit_transform(df[categorical_cols])

df

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,work_type_freq,Residence_type_freq,smoking_status_freq
0,9046,Male,67.0,0,1,Yes,228.69,36.6,1,0.572407,0.508023,0.173190
1,51676,Female,61.0,0,0,Yes,202.21,28.1,1,0.160274,0.491977,0.370254
2,31112,Male,80.0,0,1,Yes,105.92,32.5,1,0.572407,0.491977,0.370254
3,60182,Female,49.0,0,0,Yes,171.23,34.4,1,0.572407,0.508023,0.154403
4,1665,Female,79.0,1,0,Yes,174.12,24.0,1,0.160274,0.491977,0.370254
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,83.75,28.1,0,0.572407,0.508023,0.370254
5106,44873,Female,81.0,0,0,Yes,125.20,40.0,0,0.160274,0.508023,0.370254
5107,19723,Female,35.0,0,0,Yes,82.99,30.6,0,0.160274,0.491977,0.370254
5108,37544,Male,51.0,0,0,Yes,166.29,25.6,0,0.572407,0.491977,0.173190
5109,44679,Female,44.0,0,0,Yes,85.28,26.2,0,0.128571,0.508023,0.302153

In [7]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['gender'] = label_encoder.fit_transform(df['gender'])
df['ever_married'] = label_encoder.fit_transform(df['ever_married'])
df

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,work_type_freq,Residence_type_freq,smoking_status_freq
0,9046,1,67.0,0,1,1,228.69,36.6,1,0.572407,0.508023,0.173190
1,51676,0,61.0,0,0,1,202.21,28.1,1,0.160274,0.491977,0.370254
2,31112,1,80.0,0,1,1,105.92,32.5,1,0.572407,0.491977,0.370254
3,60182,0,49.0,0,0,1,171.23,34.4,1,0.572407,0.508023,0.154403
4,1665,0,79.0,1,0,1,174.12,24.0,1,0.160274,0.491977,0.370254
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,83.75,28.1,0,0.572407,0.508023,0.370254
5106,44873,0,81.0,0,0,1,125.20,40.0,0,0.160274,0.508023,0.370254
5107,19723,0,35.0,0,0,1,82.99,30.6,0,0.160274,0.491977,0.370254
5108,37544,1,51.0,0,0,1,166.29,25.6,0,0.572407,0.491977,0.173190
5109,44679,0,44.0,0,0,1,85.28,26.2,0,0.128571,0.508023,0.302153

In [8]:
stroke = df['stroke']
df.drop(columns=['stroke'], inplace=True)

In [9]:
df = pd.concat([df, stroke], axis=1)

In [33]:
df

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,work_type_freq,Residence_type_freq,smoking_status_freq,stroke
0,9046,1,67.0,0,1,1,228.69,36.6,0.572407,0.508023,0.173190,1
1,51676,0,61.0,0,0,1,202.21,28.1,0.160274,0.491977,0.370254,1
2,31112,1,80.0,0,1,1,105.92,32.5,0.572407,0.491977,0.370254,1
3,60182,0,49.0,0,0,1,171.23,34.4,0.572407,0.508023,0.154403,1
4,1665,0,79.0,1,0,1,174.12,24.0,0.160274,0.491977,0.370254,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,83.75,28.1,0.572407,0.508023,0.370254,0
5106,44873,0,81.0,0,0,1,125.20,40.0,0.160274,0.508023,0.370254,0
5107,19723,0,35.0,0,0,1,82.99,30.6,0.160274,0.491977,0.370254,0
5108,37544,1,51.0,0,0,1,166.29,25.6,0.572407,0.491977,0.173190,0
5109,44679,0,44.0,0,0,1,85.28,26.2,0.128571,0.508023,0.302153,0

In [10]:
df.to_csv('final.csv')

In [34]:
id_column = df['id']
df.drop(columns=['id'], inplace=True)

In [35]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'avg_glucose_level', 'bmi', 'work_type_freq', 'Residence_type_freq',
       'smoking_status_freq', 'stroke'],
      dtype='object')

In [36]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [37]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd

# Prepare the data
X = df.drop(columns='stroke')
y = df['stroke']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Apply SMOTE
smote = SMOTE(random_state=2)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train_scaled, y_train)

# Create DataFrame for the resampled data
resampled_data = pd.DataFrame(X_train_resampled, columns=X.columns)
resampled_data['stroke'] = y_train_resampled

# Save the resampled data to an Excel file
resampled_data.to_excel('resampled_smote.xlsx', index=False)

# Optionally, save the test data as well
# pd.DataFrame(X_test_scaled, columns=X.columns).to_excel('test_features.xlsx', index=False)
# pd.DataFrame(y_test).to_excel('test_target.xlsx', index=False)

In [38]:
resampled_data

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,work_type_freq,Residence_type_freq,smoking_status_freq,stroke
0,-0.855199,-0.714517,-0.323565,-0.244646,-1.364405,-0.729903,-1.141789,0.868276,-1.031528,1.010208,0
1,1.169319,1.581060,-0.323565,4.087532,0.732920,-0.526822,-0.089433,0.868276,-1.031528,1.010208,0
2,1.169319,0.742291,-0.323565,-0.244646,0.732920,-0.784233,-0.297306,0.868276,-1.031528,-1.266149,0
3,1.169319,1.227894,-0.323565,-0.244646,0.732920,2.013116,-0.193370,0.868276,0.969435,-1.266149,0
4,1.169319,-1.200120,-0.323565,-0.244646,-1.364405,0.428777,-0.972892,0.868276,-1.031528,1.010208,0
...,...,...,...,...,...,...,...,...,...,...,...
6801,1.169319,1.308470,-0.323565,-0.244646,0.732920,-0.344797,-0.433406,0.156693,-1.031528,-1.266149,1
6802,-0.109078,1.406860,-0.323565,-0.244646,0.732920,1.997748,0.445895,-1.111435,0.969435,-1.266149,1
6803,1.119524,1.701553,-0.323565,-0.244646,0.732920,2.062626,0.043792,-1.201303,0.969435,-1.266149,1
6804,1.169319,-0.027500,-0.323565,-0.244646,0.732920,-0.581001,-0.342778,0.868276,-1.031528,0.371042,1
6805,1.169319,1.222476,3.090570,-0.244646,-0.051988,1.713958,1.050677,-0.336392,-1.031528,1.010208,1

In [22]:
resampled_data['stroke'].value_counts()

stroke
0    3403
1    3403
Name: count, dtype: int64

In [23]:
print(X.describe())        # Before transformations
print(pd.DataFrame(X_train_scaled, columns=X.columns).describe())  # After scaling

            gender          age  hypertension  heart_disease  ever_married  \
count  5110.000000  5110.000000   5110.000000    5110.000000   5110.000000
mean      0.414286    43.226614      0.097456       0.054012      0.656164
std       0.493044    22.612647      0.296607       0.226063      0.475034
min       0.000000     0.080000      0.000000       0.000000      0.000000
25%       0.000000    25.000000      0.000000       0.000000      0.000000
50%       0.000000    45.000000      0.000000       0.000000      1.000000
75%       1.000000    61.000000      0.000000       0.000000      1.000000
max       2.000000    82.000000      1.000000       1.000000      1.000000

       avg_glucose_level          bmi  work_type_freq  Residence_type_freq  \
count        5110.000000  5110.000000     5110.000000          5110.000000
mean          106.147677    28.862035        0.387961             0.500129
std            45.283560     7.699562        0.213814             0.008023
min            55.120000    10.300000        0.004305             0.491977
25%            77.245000    23.800000        0.134442             0.491977
50%            91.885000    28.100000        0.572407             0.508023
75%           114.090000    32.800000        0.572407             0.508023
max           271.740000    97.600000        0.572407             0.508023

       smoking_status_freq
count          5110.000000
mean              0.282220
std               0.087019
min               0.154403
25%               0.173190
50%               0.302153
75%               0.370254
max               0.370254
             gender           age  hypertension  heart_disease  ever_married  \
count  3.577000e+03  3.577000e+03  3.577000e+03   3.577000e+03  3.577000e+03
mean  -1.013075e-16  1.221649e-16 -6.952473e-18   5.959263e-18  7.250436e-17
std    1.000140e+00  1.000140e+00  1.000140e+00   1.000140e+00  1.000140e+00
min   -8.551988e-01 -1.902920e+00 -3.235649e-01  -2.446464e-01 -1.364405e+00
25%   -8.551988e-01 -8.028089e-01 -3.235649e-01  -2.446464e-01 -1.364405e+00
50%   -8.551988e-01  8.010554e-02 -3.235649e-01  -2.446464e-01  7.329204e-01
75%    1.169319e+00  7.864371e-01 -3.235649e-01  -2.446464e-01  7.329204e-01
max    1.169319e+00  1.713497e+00  3.090570e+00   4.087532e+00  7.329204e-01

       avg_glucose_level           bmi  work_type_freq  Residence_type_freq  \
count       3.577000e+03  3.577000e+03    3.577000e+03         3.577000e+03
mean        1.330902e-16 -1.748050e-16   -2.880310e-17        -6.358533e-15
std         1.000140e+00  1.000140e+00    1.000140e+00         1.000140e+00
min        -1.121606e+00 -2.272096e+00   -1.785411e+00        -1.031528e+00
25%        -6.328534e-01 -6.610832e-01   -1.177522e+00        -1.031528e+00
50%        -3.176067e-01 -8.943333e-02    8.682760e-01         9.694353e-01
75%         1.612880e-01  5.082006e-01    8.682760e-01         9.694353e-01
max         3.536772e+00  8.940035e+00    8.682760e-01         9.694353e-01

       smoking_status_freq
count         3.577000e+03
mean          2.403569e-16
std           1.000140e+00
min          -1.483160e+00
25%          -1.266149e+00
50%           2.235425e-01
75%           1.010208e+00
max           1.010208e+00